.profile .feedback {
  width: 100px;
  display: inline-block;
  margin: auto;
  margin-left: 15px;
  text-align: center;
  border-radius: 25px;
  background: #ff8100;
  color: white;
}

.profileItems {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 6px;
}