.profile-page {
  padding: 50px 15px;
}

.profileItems img {
  max-width: 100%;
  margin-bottom: 20px;
}

.user-messages ul {
  padding: 0;
  list-style: none;
}

.user-messages ul p {
  margin: 0;
}

.user-messages ul li {
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 23%;
  border: 1px solid #999;
  padding: 15px;
  border-radius: 6px;
  margin-right: 1%;
  @media (max-width: 992px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  p {
    span {
      display: block;
      border-top: 1px solid #999;
      padding-top: 5px;
      margin-top: 5px;
    }
  }
}

