.last-added {
  padding: 50px 0;
  // background-color: #f3f3f3;
  // background-size: cover;
}

.last-added-item {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  a {
    &:hover img {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  img {
    max-width: 100%;
    transform: scale(1.04);
    transition: all .3s ease-in-out;
    height: 160px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }
  h3 {
    letter-spacing: 0;
    font-family: 'Frank Ruhl Libre', serif;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    span {
      font-size: 16px;
      margin-left: 8px;
    }
  }
  p {
    color: #9b9b9b;
    font-size: 15px;
    font-weight: bold;
  }
}

.vihicle-price {
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-top-left-radius: 10px;
  padding: 5px 10px 25px 40px;
}

.vihicle-price .currency {
  font-size: 12px;
  text-align: left;
  position: absolute;
  left: 10px;
  top: 0;
}

.vihicle-price .price {
  font-size: 40px;
  font-family: 'Frank Ruhl Libre', serif;
  line-height: 29px;
  font-weight: bold;
}

.vihicle-price span {
  font-size: 13px;
  display: block;
  text-align: center;
}

section.last-added h2.title-block {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  color: #999;
}