.previewImage img {
  max-width: 400px;
  width: 100%;
  border-radius: 6px;
}

.previewImage {
  border: 1px solid #949494;
  border-radius: 6px;
  padding: 20px;
  margin-top: 30px;
  max-width: 400px;
}