.previewImage {
  border: 1px solid #949494;
  border-radius: 6px;
  padding: 20px;
  margin-top: 30px;
  max-width: 400px;
  img {
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
  }
}

.list-elements {
  span {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    background: #999;
    border-radius: 25px;
    padding: 3px 12px;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.car-detail-list {
  ul {
    padding: 0;
    li {
      font-size: 14px;
      display: inline-block;
      width: 50%;
      margin-bottom: 20px;
      color: #999;
      svg {
        color: #666;
      }
    }
  }
  p {
    color: #9b9b9b;
  }
}

.car-detail-list.col {
  h4 {
    line-height: 1.2em;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 24px;
    color: #151515;
  }
}


.car-detail-page {
  padding: 50px 0;
  &.row img {
    width: 100%;
  }
}

.car-specifications input:focus {
  box-shadow: none;
  border-color: #495057;
}

.add-new-car {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 640px;
  .fa-camera {
    font-size: 30px;
    cursor: pointer;
    display: block;
    text-align: center;
    border: 1px solid #585151;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  #uploadMainImage {
    visibility: hidden;
    position: absolute;
    left: 0;
    max-width: 100%;
  
  }
}

.car-specifications.form-group {
  max-width: 300px;
}

.errorField {
  color: red;
  margin-bottom: 20px;
  margin-top: 20px;
}

.uploadrow {
  display: flex;
  align-items: center;
  span {
    margin-left: 20px;
    color: #333;
  }
}

label.transmission.form-label {
  width: 100%;
}

.congratulation {
  margin: 20px 0;
  padding: 10px;
  border-radius: 36px;
  background: #59d389;
  color: white;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 21px;
  max-width: 100%;
}

