.hero {
  position: relative;
  overflow: hidden;
  padding: 155px 0;
  text-align: center;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: rgba(43,49,59,.48);
  }
  h1 {
    font-size: 48px;
    color: white;
  }
  .container {
    position: relative;
  }
  .box-position {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 150px);
    height: calc(100% + 150px);
    will-change: transform;
    -webkit-animation: bgPos 100s linear infinite;
    animation: bgPos 100s linear infinite;
    -webkit-transform: translate3d(-75px,-75px,0) rotate(0.001deg);
    transform: translate3d(-75px,-75px,0) rotate(0.001deg);
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1;
  }
}
ul.hero-links {
  padding: 0;
  a {
    color: white;
  }
  li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    &:before {
      content: "/";
      color: #a7a7a7;
      position: absolute;
      right: -12px;
    }
  }
}


@-webkit-keyframes bgPos{
  25%{-webkit-transform:translate3d(-150px,-150px,0) rotate(0.001deg);
    transform:translate3d(-150px,-150px,0) rotate(0.001deg)}
  75%{-webkit-transform:translate3d(0,0,0) rotate(0.001deg);
    transform:translate3d(0,0,0) rotate(0.001deg)}
}
@keyframes bgPos{
  25%{-webkit-transform:translate3d(-150px,-150px,0) rotate(0.001deg);
    transform:translate3d(-150px,-150px,0) rotate(0.001deg)}
  75%{-webkit-transform:translate3d(0,0,0) rotate(0.001deg);
    transform:translate3d(0,0,0) rotate(0.001deg)}
}

/* home hero section */
section.home-hero {
  padding: 190px 0;
  text-align: center;
  background-position: center;
  h1 {
    font-size: 68px;
    font-weight: bold;
    color: white;
  }
  p {
    color: white;
    font-size: 20px;
    max-width: 500px;
    margin: auto;
  }
}



/* Why Choose Us */
.why-choose-us {
  background: #515154;
  padding: 100px 0;
  .box {
    justify-content: center;
    padding: 30px 14px;
    min-height: 100%;
    background: #333;
    transition: all .2s ease;
    z-index: 1;
    border: 1px solid #5c5c5c;
    &:before {
      position: absolute;
      content: '';
      transition: all .2s ease;
      z-index: -1;
      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;
      border: 1px solid #5c5c5c;
    }
    h4 {
      font-size: 24px;
      color: white;
      line-break: 1.3em;
    }
    p {
      color: #9b9b9b;
      margin-top: 10px;
    }
  }
}

/* Hero Search form */

section.home-hero form {
  max-width: 390px;
  margin: auto;
  width: 100%;
  position: relative;
}

.home-page section.home-hero form a {
  position: absolute;
  top: 3px;
  right: 3px;
  background: transparent;
  border: 0;
  min-width: auto;
  border-radius: 999em;
  background-color: #59d389;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
}

.home-page section.home-hero form a img {
  width: 40px;
}

.home-page section.home-hero form .empty-link {
  position: absolute;
  top: 3px;
  right: 3px;
  background: transparent;
  border: 0;
  min-width: auto;
  border-radius: 999em;
  background-color: #969696;
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-align: center;
}

.home-page section.home-hero form .empty-link img {
  width: 40px;
}

.home-page section.home-hero form input {
  border-radius: 0;
  border: 0;
  padding: 0 30px 10px 0;
  font-size: 17px;
  background: transparent;
}

section.home-hero form .form-group {
  background: white;
  border-radius: 45px;
  text-align: left;
  padding: 0px 30px 0 21px;
}

section.home-hero form .form-group label {
  margin-bottom: 0;
}

.home-page .css-bg1rzq-control {
  border: 0;
}

.home-page .css-bg1rzq-control div {
  border: 0;
  box-shadow: none;
}

.home-page .css-1pcexqc-container div {
  border: 0;
  box-shadow: none;
  min-height: 1px;
}

.home-page .css-1pcexqc-container .css-1hwfws3 {
  padding: 0;
}

.home-hero .css-1wy0on6 {
  display: none;
}

/* End of Hero Search form */