.profile .feedback {
  width: 100px;
  display: inline-block;
  margin: auto;
  margin-left: 15px;
  text-align: center;
  border-radius: 25px;
  background: #ff8100;
  color: white;
}

.profileItems {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 6px;
}

.send-message-to-owner {
    .react-datetimerange-picker {
        margin: 20px 0;
        .react-datetimerange-picker__inputGroup__input {
            min-width: 10px;
        }
        .react-datetimerange-picker__inputGroup {
            padding: 8px 10px;
        }
    }
}

.react-datetimerange-picker__calendar {
    &.react-datetimerange-picker__calendar--open {
        top: 100% !important;
        bottom: unset !important;
    }
}