body {
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none;
}
.title-block {
  font-weight: 500;
  margin-bottom: 60px;
  color: #fff;
  font-size: 36px;
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: #333;
}

.font-bold {
  font-weight: bold;
}

.divider-30 {
  margin: 30px 0;
}

.divider {
  font-size: 0;
  line-height: 0;
  height: 1px;
  width: 100%;
  background: #e1e1e1;
}

